nav {
    background-color: #FFF5E4;
    height: 4em;
    box-shadow: 0 2px 10px rgba($color: #850E35, $alpha: .2);
    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 2em;
        padding: 0;
        height: 100%;
        list-style: none;

    }
}

.search-bar {
    border-radius: 3px;
    border: 1px solid #afafaf;
    background-color: #f5f5f5;
    background-image: url(../../assets/images/search-svgrepo-com.svg);
    background-size: 18px;
    background-position: 8px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 30px;
    margin-right: 10px;
}

.search-bar:focus {
    outline: none;
    border-color: var(--peach);
}

.logo{
    font-size: 2em;
    color: var(--maroon);
}

.account {
width:30px
}

.circle {
    width: 25px;
    height: 25px;
    background-color: var(--pink);
    display: block;
    border-radius: 50%;
}

.log-out {
    font-size: 1.4em;
    margin: 0;
    cursor: pointer;
    background-color: var(--peach);
    border: none;
    border-radius: 4px;
    padding: 10px;
    width: 7em;
    color: var(--maroon);
    cursor: pointer;  
    text-align: center;
}